<!DOCTYPE html>
<html>
<head>
	<title>Chatoon</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/page.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
	
</head>
<body>
	<main>
		<h1>Yo</h1>


		<ul id="messages">
			
		</ul>
		<input type="text"/>
		<button>Send</button>
		
	</main>

	<script src="/static/js/page.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>