<!DOCTYPE html>
<html>
<head>
	<title>Chatoon</title>

	<!-- FONT LINK -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400" rel="stylesheet">

	<!-- CSS LINK -->
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<link rel="stylesheet" type="text/css" href="/static/css/shake.css">

	<!-- JS LINK -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>   
        $(document).ready(function() {
            var FullBodyHeight = function() {
                  $('#load').css('height', window.innerHeight);
                  $('#load').css('max-height', window.innerHeight);
                  $('#connect').css('height', window.innerHeight);
                  $('#connect').css('max-height', window.innerHeight);
			}
            
            setInterval(FullBodyHeight, 0);
        });
    </script>
</head>

<body>
	<!-- SECTION LOADING -->
	<section id="load">
	    <img id="logochatoon" class="shake-slow shake-constant" src="static/images/logo.svg"/>
	</section>    
	<!-- END SECTION LOADING -->

	<!-- SECTION CONNECT -->
	<section id="connect" style="display: none">
	
	    <h2>Choisis ton pseudo :</h2>
	    <div id="input-log">
		    <input type="text" id="pseudo" placeholder="Pseudonyme..." autofocus/>
		    <button id="sendpseudo">
		        <img src="static/images/arrow.svg" alt="">
		    </button>
	    </div>

	</section>
	<!-- END SECTION CONNECT -->
		
	<main>
		<!--SECTION INFO IN CONSTRUCTION -->
	    <!-- <section id="info" style="display: none"></section> -->
		<!--END SECTION INFO -->

		<!-- SECTION CHAT -->
		<section id="chatcontainer" style="display: none">

			<div id="header-container">
                <a href='#' id="menulogo">
                    <div class="burger"></div>
                </a> 

                 <img src="/static/images/logo.svg" alt="logo" id="logo-container">

            </div>

			<ul id="messages"></ul>

			<div id="wrappertext">

				<textarea id="textareamsg" type="text" placeholder="Type..." autofocus></textarea>
				<button id="sendmsg"></button>

			</div>
		</section>
		<!-- END SECTION CHAT -->

		<!-- SECTION MENU -->
		<section id="menu" style="display: none">
			
			<div id="wrapper-emoji">
                
                <h3>Emojis 👀</h3>
                
				<img id="emoji1" class="emoji" src="static/images/emoji1.png">
				<img id="emoji2" class="emoji" src="static/images/emoji2.png">
				<img id="emoji3" class="emoji" src="static/images/emoji3.png">
				<img id="emoji4" class="emoji" src="static/images/emoji4.png">
				<img id="emoji5" class="emoji" src="static/images/emoji5.png">
				<img id="emoji6" class="emoji" src="static/images/emoji6.png">
				<img id="emoji7" class="emoji" src="static/images/emoji7.png">
				<img id="emoji8" class="emoji" src="static/images/emoji8.png">
				<img id="emoji9" class="emoji" src="static/images/emoji9.png">
				<img id="emoji10" class="emoji" src="static/images/emoji10.png">
				<img id="emoji11" class="emoji" src="static/images/emoji11.png">
				<img id="emoji12" class="emoji" src="static/images/emoji12.png">
				<img id="emoji13" class="emoji" src="static/images/emoji13.png">
				<img id="emoji14" class="emoji" src="static/images/emoji14.png">
				<img id="emoji15" class="emoji" src="static/images/emoji15.png">
				<img id="emoji16" class="emoji" src="static/images/emoji16.png">
				<img id="emoji17" class="emoji" src="static/images/emoji17.png">
				<img id="emoji18" class="emoji" src="static/images/emoji18.png">
				<img id="emoji19" class="emoji" src="static/images/emoji19.png">
				<img id="emoji20" class="emoji" src="static/images/emoji20.png">
				<img id="emoji21" class="emoji" src="static/images/emoji21.png">
				<img id="emoji22" class="emoji" src="static/images/emoji22.png">
				<img id="emoji23" class="emoji" src="static/images/emoji23.png">
				<img id="emoji24" class="emoji" src="static/images/emoji24.png">
				<img id="emoji25" class="emoji" src="static/images/emoji25.png">
				<img id="emoji26" class="emoji" src="static/images/emoji26.png">
				<img id="emoji27" class="emoji" src="static/images/emoji27.png">
				<img id="emoji28" class="emoji" src="static/images/emoji28.png">
				<img id="emoji29" class="emoji" src="static/images/emoji29.png">
				<img id="emoji30" class="emoji" src="static/images/emoji30.png">
				<img id="emoji31" class="emoji" src="static/images/emoji31.png">
				<img id="emoji32" class="emoji" src="static/images/emoji32.png">
				<img id="emoji33" class="emoji" src="static/images/emoji33.png">
				<img id="emoji34" class="emoji" src="static/images/emoji34.png">
				<img id="emoji35" class="emoji" src="static/images/emoji35.png">
				<img id="emoji36" class="emoji" src="static/images/emoji36.png">
				<img id="emoji37" class="emoji" src="static/images/emoji37.png">
				<img id="emoji38" class="emoji" src="static/images/emoji38.png">
				<img id="emoji39" class="emoji" src="static/images/emoji39.png">
				<img id="emoji40" class="emoji" src="static/images/emoji40.png">
				<img id="emoji41" class="emoji" src="static/images/emoji41.png">
				<img id="emoji42" class="emoji" src="static/images/emoji42.png">
				<img id="emoji43" class="emoji" src="static/images/emoji43.png">
				<img id="emoji44" class="emoji" src="static/images/emoji44.png">
				<img id="emoji45" class="emoji" src="static/images/emoji45.png">
				<img id="emoji46" class="emoji" src="static/images/emoji46.png">
				<img id="emoji47" class="emoji" src="static/images/emoji47.png">
				<img id="emoji48" class="emoji" src="static/images/emoji48.png">
				<img id="emoji49" class="emoji" src="static/images/emoji49.png">
				<img id="emoji50" class="emoji" src="static/images/emoji50.png">
				<img id="emoji51" class="emoji" src="static/images/emoji51.png">
				<img id="emoji52" class="emoji" src="static/images/emoji52.png">
				<img id="emoji53" class="emoji" src="static/images/emoji53.png">
				<img id="emoji54" class="emoji" src="static/images/emoji54.png">
				<img id="emoji55" class="emoji" src="static/images/emoji55.png">
				<img id="emoji56" class="emoji" src="static/images/emoji56.png">
				<img id="emoji57" class="emoji" src="static/images/emoji57.png">
				<img id="emoji58" class="emoji" src="static/images/emoji58.png">
				
			</div>
			
               <h3>Color themes 🎨</h3>
        
	        <button id="color1"></button>
			<button id="color2"></button>
			<button id="color3"></button>
			<button id="color4"></button>
			<button id="color5"></button>
			<button id="color6"></button>

	    </section>
	    <!-- END SECTION MENU -->

	</main>
	
	<!-- SCRIPT JS LOAD LAST -->
	<script src="/static/js/page.js"></script>
	
</body>
</html>