<!DOCTYPE html>
<html>
<head>
	<title>Chatoon</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	
	<script>   
        $(document).ready(function() {
            var FullBodyHeight = function() {
                  $('#login').css('height', window.innerHeight);
                $('#login').css('max-height', window.innerHeight);
			}
            
            setInterval(FullBodyHeight, 0);
});
    </script>
	
</head>
<body>
    <section id="login">
       <img src="/static/images/logo.svg" alt="logo" id="login-logo">
       
        <input type="text">
        <button id="sendid">next</button>
    </section>

	<main>
    
	    <section id="info">
			
		</section>
	
	
		<section id="chatcontainer">
			<img src="/static/images/logo.svg" alt="logo">
<!--
			<a href='#'>
  				<div class="burger"></div>
			</a>
-->


			<ul id="messages">
				
			</ul>
			<textarea id="textareamsg" type="text" placeholder="Type..."></textarea>
			<button id="sendmsg">Send</button>
		</section>	
	</main>
	
<!--
	<section id="menu">
			
    </section>
-->
	<script src="/static/js/page.js"></script>
	
</body>
</html>